{{>header}}

<div class ="row">
  <div class = "col left-column">
    <form id="get-weather">
      <button class="button">Get Your Weather</button>
    </form>
  </div>
  <div id="client-box" class="col right-column">
    <h5>Enter location below: </h5>
    <form id="weather-request">
      <input placeholder="City, State" />
      <button class="button">Submit</button>
    </form>
    <p id="message-one">
    </p>
    <p id="message-one-time">

    </p>
    <p id="message-two">
    </p>
  </div>


</div>


  {{>footer}}
